$primary: brown;
$primary-overlay:rgba(218, 101, 120, 0.8);

body{
  margin-top:155px;
}

.navbar{
  box-shadow:2px 2px 5px $primary;
  opacity:0.9;
  background:#fff;

  .nav-item{
    font-size:1.3rem;
    padding-right:25px;
  }
}

#showcase{
  position:relative;
  background:url('../img/bosnia_mountains.jpg');
  min-height:600px;

  .primary-overlay{
    background:$primary-overlay;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
  }
}

.info-header{
  width:50%;
  margin:auto;
  border-bottom:1px #ddd solid;
}

#authors{
  img{
    margin-top:-50px;
  }

  .fa{
    font-size:25px;
  }

  .card:hover{
    background:$primary;
    color:#fff;

    .fa{
      color:#fff;
    }
  }
}
